@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    
    
}
body{
    background-color: teal;

}
p{
    font-size: 20px;
    font-weight: bold;

}
h3{
    font-size: 20px;
    font-weight: bold;
    border: 3px solid darkblue;
    width: 400px;
    background: whitesmoke;
    text-align: center;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.container{
    background: wheat;
    margin: auto;
    max-width: 300px;
    border: 3px solid darkblue;
    padding: 20px;
    position: absolute;
    position: absolute;
    top: 60%; 
    left: 53%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    scale:1.5;

}
/* The code underneath is from w3 schools https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_form_on_image */

input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

.btn {
    background-color: lightslategray;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
.btn:hover {
    opacity: 1;
}

i{
    margin: auto; 
    position: absolute;

    left: 85%;
    bottom: 30%;
    cursor: pointer;  
}

ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;    
    padding: 0;
    width: 900px;
    text-align: center;
    right: 50%;
    overflow: hidden;
    background-color:#000080;
    border: 3px solid black;
    scale:1.3;

  }

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    background-color: #4682b4	;
}

.active {
    background-color: #708090	;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 20%;
    right: 0.5%;
    padding: 2px 8px;
    background: #ada4a4;
    transform: translate(0%, -50%);
  }
  
.close:hover {background: rgb(131, 7, 7);}